/*
.slides {
    height:400px;
    position:relative;
    width:960px;
	top:-16px;
	left:-40px;
}
.slides ul {
    list-style:none;
    position:relative;
	
}

/* keyframes #anim_slides 
@-webkit-keyframes anim_slides {
    0% {
        opacity:0;
    }
    6% {
        opacity:1;
    }
    24% {
        opacity:1;
    }
    30% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}
@-moz-keyframes anim_slides {
    0% {
        opacity:0;
    }
    6% {
        opacity:1;
    }
    24% {
        opacity:1;
    }
    30% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}

.slides ul li {
    opacity:0;
    position:absolute;
    top:0;

    /* css3 animation 
    -webkit-animation-name: anim_slides;
    -webkit-animation-duration: 24.0s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: anim_slides;
    -moz-animation-duration: 24.0s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
}

/* css3 delays 
.slides ul  li:nth-child(2), .slides ul  li:nth-child(2) div {
    -webkit-animation-delay: 6.0s;
    -moz-animation-delay: 6.0s;
}
.slides ul  li:nth-child(3), .slides ul  li:nth-child(3) div {
    -webkit-animation-delay: 12.0s;
    -moz-animation-delay: 12.0s;
}
.slides ul  li:nth-child(4), .slides ul  li:nth-child(4) div {
    -webkit-animation-delay: 18.0s;
    -moz-animation-delay: 18.0s;
}
.slides ul li img {
    display:block;
}

/* keyframes #anim_titles 


.slides ul li div {
    background-color:#000000;
    border-radius:0px 0px 0px 0px;
    box-shadow:0 0 5px #FFFFFF inset;
    color:#FFFFFF;
    font-size:26px;
   
    padding:20px;
    position:absolute;
    top:83%;
    width:920px;
	opacity:0,5;

    /* css3 animation 
    -webkit-animation-name: anim_titles;
    -webkit-animation-duration: 24.0s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: anim_titles;
    -moz-animation-duration: 24.0s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
}*/
#cssSlider {
   width: 960px;
   height: 400px;
   overflow: hidden;
   position: relative;
   margin: 0 auto;
}
#cssSlider figure {
   width: 990px;
   height: 400px;
   margin: 0;
   position: absolute;
   top: 0;
   left: -960px;
   z-index: 1;
   transition: all linear 0.5s;
   -o-transition: all linear 0.5s;
   -moz-transition: all linear 0.5s;
   -webkit-transition: all linear 0.5s;
}
#cssSlider figure:target {
   left: 0;
}
#cssSlider figure:first-child {
   left: 0;
}
#cssSlider figure figcaption {
   position: absolute;
   bottom: 0;
   right: 700px;
   z-index: 2;
   color: #fff;
   padding: 10px 20px;
   width: 960px;
   background: #000;
   transition: all linear 1s;
   -o-transition: all linear 1s;
   -moz-transition: all linear 1s;
   -webkit-transition: all linear 1s;
   opacity: 0;
}
#cssSlider figure:target figcaption {
   right: 0;
   opacity: 1;
}
#sliderPagination {
   position: absolute;
   right: 10px;
   bottom: 10px;
   z-index: 10;
}
#sliderPagination a {
   text-decoration: none;
   background: rgba(255,255,255,0.5);
   padding: 4px 8px;
   color: #333;
   border-radius: 20px;
   transition: all linear 0.5s;
   -o-transition: all linear 0.5s;
   -moz-transition: all linear 0.5s;
   -webkit-transition: all linear 0.5s;
}
#sliderPagination a:hover {
   background: #fff;
   color: #666;
   width: auto;
}

